<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.mapper.OrderMapper">

<!--    int insert(Order order);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into
            oms_order(
            user_id,
            sn,
            reward_point,
            amount_of_original_price,
            amount_of_freight,
            amount_of_discount,
            amount_of_actual_pay,
            gmt_create,
            order_status,
            recipient_id
            )
        values (
            #{userId},
            #{sn},
            #{rewardPoint},
            #{amountOfOriginalPrice},
            #{amountOfFreight},
            #{amountOfDiscount},
            #{amountOfActualPay},
            #{gmtCreate},
            #{orderStatus},
            #{recipientId}
        )
    </insert>

<!--       int insertOrderItems(List<OrderItemAddNewDTO> orderItemAddNewDTOS);-->
    <insert id="insertOrderItems" useGeneratedKeys="true" keyProperty="id">
        insert into
            oms_order_item(
                sn,
                spu_id,
                price,
                quantity,
                subtotal
            )
        values
        <foreach collection="list" item="item" separator=",">
        (
            #{item.sn},
            #{item.spuId},
            #{item.price},
            #{item.quantity},
            #{item.subtotal}
            )
        </foreach>
    </insert>

<!--        List<OrderListVO> listOrdersByUserId(Long userId);-->
    <select id="listOrdersByUserId" resultMap="listOrdersResult">
        select
            oo.id,
            oo.sn,
            oo.gmt_create,
            osi.status_name,
            oo.amount_of_actual_pay
        from
            oms_order oo
        left join order_status_info osi on oo.order_status = osi.id
        where
            oo.user_id =#{userId}
    </select>

    <resultMap id="listOrdersResult" type="cn.tedu.mall.pojo.order.OrderListVO">
        <id column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="status_name" property="statusName"/>
        <result column="amount_of_actual_pay" property="amountOfActualPay"/>
    </resultMap>

<!--    OrderDetailVO getOrderDetailById(Long id);-->
    <select id="getOrderDetailById" resultMap="getOrderDetailResult">
        select
            oo.id,
            oo.sn,
            oo.gmt_create,
            osi.status_name,
            oo.amount_of_actual_pay,
            ri.recipient_name,
            ri.recipient_phone,
            ri.recipient_address
        from
            oms_order oo
        left join recipient_information ri on oo.recipient_id = ri.id
        left join order_status_info osi on oo.order_status = osi.id
        where
            oo.id= #{id}
    </select>
    <resultMap id="getOrderDetailResult" type="cn.tedu.mall.pojo.order.OrderDetailVO">
        <id column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="status_name" property="statusName"/>
        <result column="amount_of_actual_pay" property="amountOfActualPay"/>
        <result column="recipient_name" property="recipientName"/>
        <result column="recipient_phone" property="recipientPhone"/>
        <result column="recipient_address" property="recipientAddress"/>
    </resultMap>

<!--        List<OrderItemListVO> listOrderItem(String sn);-->
    <select id="listOrderItem" resultMap="listOrderItemResult">
        select
            ooi.id,
            ps.product_name,
            ooi.quantity,
            ooi.price,
            ooi.subtotal
        from
            oms_order_item ooi
        left join pms_spu ps on ooi.spu_id = ps.id
        where
            sn = #{sn}
    </select>

    <resultMap id="listOrderItemResult" type="cn.tedu.mall.pojo.order.OrderItemListVO">
        <id column="id" property="id"/>
        <result column="product_name" property="productName"/>
        <result column="quantity" property="quantity"/>
        <result column="price" property="price"/>
        <result column="subtotal" property="subtotal"/>
    </resultMap>
</mapper>
