<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.mapper.ProductMapper">
<!--    int insert(ProductAddNewDTO productAddNewDTO);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into
            pms_spu (category_id, brand_id, product_name, description, keywords,
            picture, tags, price, stock, gmt_exp)
        values (#{categoryId},#{brandId},#{productName},#{description},#{keywords},
        #{picture},#{tags},#{price},#{stock},#{gmtExp})
    </insert>
<!--    int deleteByIds(Long... id);-->
    <delete id="deleteByIds">
        delete from
        pms_spu
        where
        id in (
              <foreach collection="array" separator="," item="id">
                   #{id}
               </foreach>
                )
    </delete>
<!--    int countByName(String productName);-->
    <select id="countByName" resultType="int">
        select
            count(*)
        from
            pms_spu
        where
            product_name = #{productName}
    </select>

<!--    List<ProductListVO> listProduct(Long typeId);-->
    <select id="listProduct" resultMap="ProductQueryResultMap">
        select
            id,
            category_id,
            brand_id,
            product_name,
            description,
            keywords,
            picture,
            tags,
            price,
            stock,
            gmt_exp
        from
            pms_spu
--             判斷傳入的數值，如果為1則搜索全部結果
--                 不為1則搜索傳入的typeId
            <if test="typeId ==1">

            </if>
            <if test="type !=1">
                where
                product_type_id = #{typeId}
            </if>
        order by
            id
    </select>
    <resultMap id="ProductQueryResultMap" type="cn.tedu.mall.pojo.product.ProductListVO">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="brand_id" property="brandId"/>
        <result column="product_name" property="productName"/>
        <result column="description" property="description"/>
        <result column="keywords" property="keywords"/>
        <result column="picture" property="picture"/>
        <result column="tags" property="tags"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
        <result column="gmt_exp" property="gmtExp"/>
    </resultMap>

<!--    ProductListVO getById(Long id);-->
    <select id="getById" resultMap="ProductQueryResultMap">
        select
            id,
            category_id,
            brand_id,
            product_name,
            description,
            keywords,
            picture,
            tags,
            price,
            stock,
            gmt_exp
        from
            pms_spu
        where
            id = #{id}
    </select>

<!--        int updateById(ProductUpdateDTO productUpdateDTO);-->
    <update id="updateById">
        update
            pms_spu
        <set>
            <if test="id !=null">
                id = #{id},
            </if>
            <if test="categoryId !=null">
                category_id = #{categoryId},
            </if>
            <if test="brandId !=null">
                brand_id = #{brandId},
            </if>
            <if test="productName !=null">
                product_name = #{productName},
            </if>
            <if test="description !=null">
                description = #{description},
            </if>
            <if test="keywords !=null">
                keywords = #{keywords},
            </if>
            <if test="picture !=null">
                picture = #{picture},
            </if>
            <if test="tags !=null">
                tags = #{tags},
            </if>
            <if test="price !=null">
                price = #{price},
            </if>
            <if test="stock !=null">
                stock = #{stock},
            </if>
            <if test="gmtExp !=null">
                gmt_exp = #{gmtExp},
            </if>
            <if test="productTypeId !=null">
                product_type_id = #{productTypeId},
            </if>
        </set>
        where
            id = #{id}
    </update>
</mapper>
