<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.mapper.ProductMapper">
<!--    int insert(ProductAddNewDTO productAddNewDTO);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into
            pms_spu (category_id, brand_id, product_name, description, keywords,
            picture, tags, price, stock, gmt_exp)
        values (#{categoryId},#{brandId},#{productName},#{description},#{keywords},
        #{picture},#{tags},#{price},#{stock},#{gmtExp})
    </insert>
<!--    int deleteByIds(Long... id);-->
    <delete id="deleteByIds">
        delete from
        pms_spu
        where
        id in (
              <foreach collection="array" separator="," item="id">
                   #{id}
               </foreach>
                )
    </delete>
<!--    int countByName(String productName);-->
    <select id="countByName" resultType="int">
        select
            count(*)
        where
            product_name = #{productName}
    </select>

<!--    List<ProductListVO> listProduct(Long typeId);-->
    <select id="listProduct" resultMap="ListProductResultMap">
        select
            id,
            category_id,
            brand_id,
            product_name,
            description,
            keywords,
            picture,
            tags,
            price,
            stock,
            gmt_exp
        from
            pms_spu
--             判斷傳入的數值，如果為1則搜索全部結果
--                 不為1則搜索傳入的typeId
            <if test="typeId ==1">

            </if>
            <if test="type !=1">
                where
                product_type_id = #{typeId}
            </if>
        order by
            id
    </select>
    <resultMap id="ListProductResultMap" type="cn.tedu.mall.pojo.product.ProductListVO">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="brand_id" property="brandId"/>
        <result column="product_name" property="productName"/>
        <result column="description" property="description"/>
        <result column="keywords" property="keywords"/>
        <result column="picture" property="picture"/>
        <result column="tags" property="tags"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
        <result column="gmt_exp" property="gmtExp"/>
    </resultMap>
</mapper>
