<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.mapper.UserAddressMapper">

    <!--        int insertAddress(UserAddressDTO userAddressDTO);-->
    <insert id="insertAddress" useGeneratedKeys="true" keyProperty="id" parameterType="cn.tedu.mall.pojo.user.UserAddressDTO">
        INSERT INTO
            ums_user_address(user_id,zip_code,city,zone,detailed_address,is_enable,is_default,tag)
        VALUES(
        #{userId},
        #{zipCode},
        #{city},
        #{zone},
        #{detailedAddress},
        #{isEnable},
        #{isDefault},
        #{tag}
        )
    </insert>

    <!--    int updateUserAddress(UserAddressDTO userAddressDTO);-->
    <update id="updateUserAddress">
        update
        ums_user_address
        <set>
            <if test="zipCode !=null">
                zip_code = #{zipCode},
            </if>
            <if test="city !=null">
                city = #{city},
            </if>
            <if test="zone !=null">
                zone = #{zone},
            </if>
            <if test="detailedAddress !=null">
                detailed_address = #{detailedAddress},
            </if>
            <if test="tag !=null">
                tag = #{tag},
            </if>
            <if test="isDefault !=null">
                is_default = #{isDefault},
            </if>
        </set>
        where
        id = #{id}
    </update>


<!--    int updateAddressDefaultByUserId(Long userId);-->
    <update id="updateAddressDefaultByUserId">
        update
        ums_user_address
        <set>
            <if test="isDefault !=null">
                is_default = 0,
            </if>
        </set>
        where
        user_id = #{userId}
    </update>


<!--    int countAddressByDetail(Long id);-->
    <select id="countAddressByDetail" resultType="int">
        select
            count(*)
        from
            ums_user_address
        where
            id = #{id}
    </select>
<!--    int countAddressByUserId(Long userID);-->
    <select id="countAddressByUserId" resultType="int">
        select
            count(*)
        from
            ums_user_address
        where
            user_id = #{userId}
    </select>

<!--    Address getAddressById(Long id);-->
    <select id="getAddressById" resultMap="StandardResultMap">
        select
            <include refid="BaseQueryFields"/>
        from
            ums_user_address
        where
            id = #{id}
    </select>

<!--        List<Address> listAddress();-->
    <select id="listAddress" resultMap="StandardResultMap">
        select
            <include refid="BaseQueryFields"/>
        from
            ums_user_address
        where
            user_id=#{userId}
    </select>


<!--    基本查詢字段-->
    <sql id="BaseQueryFields">
        <if test="true">
            id,
            zip_code,
            city,
            zone,
            detailed_address,
            is_default,
            tag
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.tedu.mall.pojo.domain.Address">
        <id column="id" property="id"/>
        <result column="zip_code" property="zipCode"/>
        <result column="city" property="city"/>
        <result column="zone" property="zone"/>
        <result column="detailed_address" property="detailedAddress"/>
        <result column="is_default" property="isDefault"/>
        <result column="tag" property="tag"/>
    </resultMap>
<!--    int deleteById(Long id);-->
    <delete id="deleteById">
        delete
        from
            ums_user_address
        where
            id=#{id}
    </delete>



</mapper>
